@import "compass"

*
	@include box-sizing(border-box)

#layout
	height: 100%

#nav
	height: 100%
	background:
		color: #252A3A
	padding:
		left: 0.5rem
		right: 1rem
		top: 1rem
		bottom: 1rem

#nav .pure-menu
	background:
		color: transparent
	border: none

#nav .pure-menu a
	color: #fff

#nav .pure-menu a:hover
	color: #252A3A


#content
	height: 100%
	overflow: auto
	color: #333
	background: #EEE

#content-inner
	padding:
		left: 2rem
		right: 0.5rem
		top: 0rem
		bottom: 1rem

.api-title
	background: orange
	margin:
		left: -2rem
		right: -0.5rem
		top: 1rem
	padding:
		left: 2rem
		top: 0.4rem
		bottom: 0.4rem
		right: 0.5rem

.processor-title
	background:
		color: #090909
	color: #DAE4F2
	margin:
		left: -2rem
		right: -0.5rem
		top: 1rem
	padding:
		left: 2rem
		top: 0.4rem
		bottom: 0.4rem
		right: 0.5rem

.processor-split
	margin:
		left: -2rem
		right: -0.5rem
		bottom: 1.5rem
	background:
		color: #111111
	color: #DAE4F2

.processor-split > div
	padding:
		left: 2rem
		top: 0.5rem
		bottom: 1.5rem
		right: 2rem

.no-information
	color: grey

.param-entry dt
	font-weight: bold

.param-entry h4
	font:
		family: monospace
		size: 0.9rem
	margin:
		bottom: 1rem

.param-entry h4 > small
	font:
		family: sans-serif
	color: grey

.param-entry p
	padding:
		left: 1rem