<html>

	<head>

		<link rel="stylesheet" href="/content/pure.min.css">
		<link rel="stylesheet" href="/content/apiInfo.css">

		<title>API Information for v{{ version }}</title>


	</head>

<body>

{% macro arguments(params, optional=False) -%}

	{% for item in params %}

		<div class="param-entry">

			{% if item is mapping %}

				<h4>{{item.param}} {% if optional %}<small>(Optional)</small>{% endif %}</h4>
				{% if item.description %}
					<p>{{ item.description }}</p>
				{% else %}
					<p class="no-information">This parameter has no additional information.</p>
				{% endif %}

				{% if item.paramOptions %}
					<h5>This parameter is restricted to the following values:</h5>
					<dl>
						{% for option in item.paramOptions %}

							{% if option is mapping %}
								<dt>{{option.data}}</dt>
								{% if option.meaning %}
									<dd>{{ option.meaning }}</dd>
								{% else %}
									<dd class="no-information">This option has no description.</dd>
								{% endif %}
							{% else %}
								<dt>{{ option }}</dt>
								<dd class="no-information">This option has no description.</dd>
							{% endif %}

						{% endfor %}
					</dl>
				{% endif %}

			{% else %}

				<h4>{{item}} {% if optional %}<small>(Optional)</small>{% endif %}</h4>
				<p class="no-information">This parameter has no additional information.</p>

			{% endif %}

		</div>

	{% endfor %}


{%- endmacro %}

	<div class="pure-g-r" id="layout">

		<div class="pure-u-1-5" id="nav">

			<div class="pure-menu pure-menu-open">

				<ul>
					<li class="pure-menu-heading">API Information for v{{ version }}</li>
					{% for apiTop in APIs %}
						{% set api = apiTop[0] %}
						<li><a href="#api_{{api.name}}">{{api.friendlyName}}</a></li>
					{% endfor %}

				</ul>

			</div>

		</div>

		<div class="pure-u-4-5" id="content">

			<div id="content-inner">

				{% for apiTop in APIs %}

					{% set api = apiTop[0] %}
					{% set processors = apiTop[1] %}

					<div class="pure-u-1-1 api-title">
						<h1 id="api_{{api.name}}">{{api.friendlyName}} <small>({{api.name}})</small></h1>
					</div>
					<p>{{api.description}}</p>

					{% for processorTmp in processors %}

						{% set processor = processorTmp[0] %}
						{% set HTTPType = processorTmp[1] %}

						<div class="pure-u-1-1 processor-title">
							<h2>HTTP {{ HTTPType }} /v{{version}}/{{api.endpoint}}</h2>
						</div>

						<div class="pure-g processor-split">

							<div class="pure-u-1-2">
								<h3>Request Arguments</h3>
								<hr>

								{% if processor.requiredParams %}{{ arguments(processor.requiredParams) }}{% endif %}
								{% if processor.optionalParams %}{{ arguments(processor.optionalParams, optional=True) }}{% endif %}
								{% if not processor.requiredParams and not processor.optionalParams %}
									<p>This API call does not specify any request params.</p>
								{% endif %}
							</div>

							<div class="pure-u-1-2">
								<h3>Response Arguments</h3>
								<hr>

								{% if processor.returnParams %}{{ arguments(processor.returnParams) }}{% endif %}
								{% if processor.optionalReturnParams %}{{ arguments(processor.optionalReturnParams, optional=True) }}{% endif %}
								{% if not processor.returnParams and not processor.optionalReturnParams %}
									<p>This API call does not specify any response params.</p>
								{% endif %}

							</div>

						</div>

					{% endfor %}

				{% endfor %}

			</div>

		</div>

	</div>

</body>

</html>