<html>

	<head>

		<style type="text/css">
		{% include "content/pure.min.css" %}
		</style>

		<style type="text/css">
			{% include "content/apiInfo.css" %}
		</style>


	</head>

<body>

	<div class="pure-g" id="layout">

		<div class="pure-u-1-5" id="nav">

			<div class="pure-menu pure-menu-open">

				<ul>
					<li class="pure-menu-heading">API Information for v{{ version }}</li>
					{% for apiTop in APIs %}
						{% set api = apiTop[0] %}
						<li><a href="#api_{{api.name}}">{{api.friendlyName}}</a></li>
					{% endfor %}

				</ul>

			</div>

		</div>

		<div class="pure-u-4-5" id="content">

			<div id="content-inner">

				{% for apiTop in APIs %}

					{% set api = apiTop[0] %}
					{% set processors = apiTop[1] %}

					<h1 id="api_{{api.name}}">{{api.name}} <small>({{api.friendlyName}})</small></h1>
					<p>{{api.description}}</p>

					{% for processor in processors %}

						<h2>/v{{version}}/{{processor.endpoint}}</h2>

					{% endfor %}

				{% endfor %}

			</div>

		</div>

	</div>

</body>

</html>